* {
  box-sizing: border-box;
  color: aliceblue;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  background-color: #070708;
  font-size: 16px;
}

.crypto {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.crypto-change {
  width: 170px;
}

.crypto-name {
  width: 150px;
}

.crypto-price {
  width: 80px;
}

.crypto-rank {
  width: 20px;
}

.crypto h3, img, p {
  margin-right: 30px;
}

.crypto-container {
  display: flex;
  justify-content: center;
}

.crypto-container img {
  height: 50px;
  width: 50px;
}

.crypto-input {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border-color: transparent;
  color: black;
  font-size: 16px;
  margin-top: 20px;
  padding: 14px;
  width: 100%;
}

.crypto-search-form {
  width: 70%;
}

.crypto-page {
  margin-bottom: 70px;
}

.crypto-search {
  align-items: center;
  margin: 0 10%;
  padding: 40px 0 30px 0;
  display: flex;
  flex-direction: column;
}

.crypto-search-title {
  align-items: center;
  display: flex;
}

.crypto-search-title img {
  margin-right: 15px;
  width: 60px;
}

.crypto-wrapper {
  align-items: center;
  background-color: rgb(34, 34, 46);
  border-radius: 20px;
  display: flex;
  margin: 10px 10%;
  padding: 20px 20px;
  width: 900px;
}

.Title {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  height: 120px;
  justify-content: center;
  margin-bottom: 30px;
  min-width: 350px;
}

.Title h1 {
  font-size: 37px;
  border-radius: 5px;
}

.Title img {
  margin-right: 10px;
}

.Title-Section-Conainter {
  background-image: url(./images/Blockchain.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
  padding: 80px 0px 120px 0px;
}

.Title-Section-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* margin: 30px 10% ; */
}

@media (max-width: 1024px) {

  .crypto {
    display: block;
  }

  .crypto h3,img,p {
    margin-top: 15px;
  }

  .crypto-search-title {
    font-size: 15px;
    flex-direction: column;
  }

  .crypto-search-title img {
    width: 100px;
    margin-bottom: 20px;
  }

  .crypto_wrapper {
    /* width: 400px; */
    margin: 10px 22%;
    padding: 10px 30px 20px 20px;
  }

}